/* #niebieski1{
    background-color: blue;
}
#niebieski2{
    background-color: blue;
}
#niebieski3{
    background-color: blue;
}
#niebieski4{
    background-color: blue;
}
#niebieski5{
    background-color: blue;
} */



footer,header{
    background-color: rgb(255, 0, 0);
}

#kontener{
     font-family: Helvetica,sans-serif;
     background-color: Linen;
     color: #222;
     margin: auto;
     width: 90%;
     padding: 20px;
}


#baner1,#baner2{
    background-color: black;
    color: white;
    width: 50%;
    height: 100px;
}

footer{
    background-color:black;
    color: white;
    padding: 20px;
    text-align: center;
}

#tablica{
    margin: 40px;
   
}
 td{
    padding: 30px;
    text-align: center;
    font: bolder;

}

a{
    text-decoration: none;
    color: #aaa;

}

a:hover{
   color: white;
}

ul li{
    padding: 5px;
    margin: 10px;
    border-bottom: solid 1px white;
}